body{
margin: 1px;
padding: 2px;
}

h1{
   text-align: center;
   text-transform: uppercase;
   color: green;
}
.Add{
   margin-left: 91%;
   background-color: rgb(121, 195, 11);
   color: white;
   padding: 10px 40px;
   font-size: 17px;
   font-weight: bold;
   
   cursor: pointer;
   border: none;
   border-radius: 20px;
  
}
.Add:hover{
   background-color: antiquewhite;
   color:black
}

table{
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
}
th,td{
   padding: 10px;
   border:1px solid black;
   text-align: center;
   

}
th{
   background-color: aliceblue;
}


.Edit{

   padding: 12px 30px;
   background-color: green;
   color: white;
   cursor: pointer;
   border: none;
   border-radius: 14px;

   font-size: 16px;
   font-weight: bold;
   margin: 2px;
  
}
.Delete{
   padding: 12px 30px;
   background-color: red;
   color: white;
   cursor: pointer;
   border: none;
   border-radius: 14px;
   font-size: 16px;
   font-weight: bold;
   
}
.Popup{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0,0,0,0.5);
}
.Popup-content{
   background-color: #fff;
   padding: 22px;
   border-radius:10px;
   box-shadow: 0px 2px 4px rgb(0,0, 0, 0.1);
}
.Popup-button{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.yes{
   padding: 10px;
   color: white;
   background-color: rgb(10, 247, 10);
   font-family: sans-serif;
   font-weight: bold;
   font-size: 17px;
   border: none;
   border-radius: 10px;
  cursor: pointer;   
}
.cancel{
   padding: 10px;
   border: none;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 17px;
   color: white;
   background-color: blue;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}
.EditPopup{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.editlabel{
   display: flex;
   flex-direction: column;
}
.editbox{
   display: flex;
   flex-direction: column;
}
p{
   text-align: center;
   color: black;
   font-family: sans-serif;
   font-weight: bold;
}
label{
   padding: 20px;
color: black;
font-family: sans-serif;
font-weight: bold;
font-size: 17px;
margin: 5px;
}
input{
   padding: 20px 30px;
   margin: 5px;
   border: none;
   border-radius: 10px;
   box-shadow: 3px 3px 3px 3px rgb(185, 184, 184);
}

























